:root {
  --primary-color: #1c819e;
  --secondary-color: rgb(201, 201, 92);
  --additional-color: #d4dab9;
  --primary-font: Ubuntu;
}

html {
  background-color: var(--primary-color);
}
.main-div {
  background-color: var(--secondary-color);
}
.navbar {
  background-color: var(--additional-color);
}
.nav-item {
  text-align: right;
  margin-left: 3px;
}

a {
  box-shadow: inset 0 0 0 0 var(--primary-color);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out !important;
  border-radius: 2px;
}
a:hover {
  box-shadow: inset 150px 0 0 0 var(--primary-color);
  border: transparent 0 solid;
  border-radius: 3px;
}
p .Donbas:hover {
  box-shadow: inset 150px 0 0 0 black;
  border: transparent 0 solid;
  border-radius: 3px;
  color: white;
}

@media (max-width: 920px) {
  a:hover {
    box-shadow: none;
  }
}
.first-col h1 {
  font-family: var(--primary-font);
  font-size: 10vw;
  margin-top: 250px;
  display: block;
}
.img-fluid {
  height: auto;
}
.symbol {
  max-width: 35vw;
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 100vh;
  opacity: 0.7;
}

.description-text p {
  text-align: center;
  color: black;
}

.footer {
  position: absolute;
  bottom: 10px;
  color: white;
  margin-left: 70vw;
  font-size: 12px;
}
.footer a {
  color: white;
}
.footer a:hover {
  color: black;
}

@media (max-width: 1641px) {
  .symbol {
    max-width: 60%;
    top: 0;
    right: 0;
    opacity: 0.5;
  }
}
@media (max-width: 915px) {
  .description-text p {
    position: absolute;
    width: 40%;
    background-color: var(--additional-color);
    border-radius: 4px;
  }
  .symbol {
    top: 140px;
  }
}
