:root {
  --primary-color: #1c819e;
  --secondary-color: rgb(201, 201, 92);

  --primary-font: Ubuntu;
}

html {
  background-color: var(--primary-color);
}

.main-content {
  padding-top: 100px;
  background-color: var(--secondary-color);
}
.navbar {
  background-color: #dcdfe5;
}
.nav-item {
  text-align: right;
  margin-left: 3px;
}

a {
  box-shadow: inset 0 0 0 0 var(--primary-color);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out !important;
  border-radius: 2px;
}
a:hover {
  box-shadow: inset 150px 0 0 0 var(--primary-color);
  border: transparent 0 solid;
  border-radius: 3px;
}

.grow img {
  transition: 1s ease;
  border-radius: 5px;
  border: var(--primary-color) 5px solid;
}

.grow img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
.grow div {
  position: absolute;
  background-color: #d2cebd;
  border: black 1px solid;
  border-radius: 3px;

  transform: scale(0);

  font-size: 16px;
  margin-top: -40px;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}
.grow:hover div {
  width: 250px;
  padding: 8px 15px;
  transform: scale(1.2);
  transition: 1s ease;
  width: 250px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.8;

  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 8vw);
}

.gallery_img {
  width: 80%;
  height: 80%;
  margin-left: 50px;
}
.gallery_item--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}
.gallery_item--2 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 7;
}
.gallery_item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}
.gallery_item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 9;
}
.gallery_item--5 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
}

@media (max-width: 920px) {
  a:hover {
    box-shadow: none;
  }
  .gallery {
    display: contents;
    margin-left: 100px;
  }
}
